.box-header{
  
  display: block;
  grid-template-columns: 30% 70%;
  background-color: rgb(0, 0, 0);
}
.titulo{
  font-family: 'Dangrek', cursive;
font-family: 'Josefin Sans', sans-serif;

  width: 100%;
  
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 15%;
  font-size: 300px;
  background-color: black;
  
  color: white; 
}
h1{
  font-size: 46px;
  
}

.text{
  display: block;
}

.tienda-p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  padding-left: 30px;
}
.inicio-p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding-left: 1rem;
}

.menu-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  padding-bottom: 2rem;
  
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0rem;
  
}


.navi{
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(236, 157, 219);
  
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 30px;

}
a{
  color: rgb(179, 73, 73);
}
.cuerpo{
    padding-top: 100px;
}
  
.super-box{
    display: block;
    
}

  main .box-contact {
    border: 1px solid #cecccc;
    border-color: 20px;
    background-color: #f5f5f5;
    margin-top: 2rem;
    
    padding-bottom: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0.50rem;
    -webkit-box-shadow: 1px 5px #d8d8d8;
    box-shadow: 1px 5px #d8d8d8;
    text-align: center;
    padding-bottom: 5rem;
    height:100%
    
  }
  
  main .texto-contact {
    
    text-align: center;
    font-size: 14px;
    font-family: 'Shippori Antique B1', sans-serif;
  }

  #lista-termos{
  
  display: block

  }

  footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
    padding-left: 1rem;
    margin: 4px;
    font-size: 13px;
    font-family: 'Varela Round', sans-serif;
    list-style: none;
    text-decoration: none;
    color: darkolivegreen;
  }

  #formulario{
    display: block;
  }

  #jbl{
    padding: 1rem;
  }
  #jbl-mensaje{
    padding: 1rem;
  }



.d-grid{
  padding-top: 3rem;
}


th{
  padding-left: 1rem;
}

#vaciar-carrito{
  margin-top: 35rem;
  position: fixed;
  
}

tbody{
  font-size: 14px;
  color: gray;
  text-align: center;
}


#btn-enviar{
  padding-top: 1rem;
  padding-left: 1rem;
  

}

.envio{
  color: rgb(56, 202, 56);
  font-size: 27px;
  
}

span{

font-size: 27px;
color: gray;
}

#agregar-termo{
  
  font-size: 13px;
  
}



.texto{
  padding: 2rem;
  font-size: 22px;
}

.contenido{
  display: inline-block;
  font-size: 20px;
  text-align: center;
  
}



#listaPersonas{
  display: block;
  align-items: center;
  font-family: 'Dangrek', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: rgb(111, 111, 112);
}
.col-2{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}




@media (min-width: 768px) {
  h1 {
      font-size: 28px;
  }

  #listaPersonas {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center;
      font-size: 20px;
      margin-left: 4rem;
  }

  .col-2 {
      width: 70%; 
      margin: 1rem;
  }

  #lista-carrito{
  
  
    margin-right: 3rem;
    background-color: transparent;
  }
  .carrito{
    padding-top: 2rem;
    color:black;
    background-color: transparent;
  
    border: 1px solid #cecccc;
    border-color: 20px;
    
    margin-top: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-box-shadow: 1px 5px #d8d8d8;
    box-shadow: 1px 5px #d8d8d8;
    
  }

  #lista-termos{
  
    display: grid;
    grid-template-columns: auto auto auto auto;
  
    }

  .box-contact{
    width: 90%;
    
  }

}


@media (max-width: 480px) {
  h1 {
      font-size: 24px;
  }

  #listaPersonas {
      font-size: 18px;
  }
}

